div{
    height:200px;
    width:500px;
    background-color:pink;
    border:5px solid black;
    border-left-color:yellow;
    border-radius:5px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:25px;
}

button{
    border:2px solid white;
    background-color:dodgerblue;
    color:white;
    border-radius:10px;
    cursor:pointer;
}
