div{
    width:200px;
    height:200px;
    border:2px solid black;
    display:inline-block;
    text-align:center;
    margin:10px;
    border-radius:5px;
    background-color:green;
     
    
}

#static{
    background-color:yellow;
    position:static;
    top:100px;
    left:100px;
}

#relative{
    background-color:red;
    position:relative;
    top:100px;
    left:100px;
}

#absolute{
    background-color:red;
    position:absolute;
    top:100px;
    left:100px;
}