<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3> <%= "Saksham".toUpperCase(); %> </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ad fugit harum sequi vel porro minus magnam aliquam deserunt atque reiciendis odit, amet aut quas deleniti velit facere repellat iure!
        Tenetur excepturi debitis laboriosam quia esse nam voluptate, sit consequuntur, natus quisquam facere maiores placeat aliquid mollitia iusto minima numquam eveniet. Eius unde incidunt repellendus autem id dolores tempore in!
        Cumque exercitationem minus expedita ducimus blanditiis consectetur, delectus officia provident obcaecati molestiae praesentium voluptas maxime consequatur aliquam asperiores! Cupiditate vitae nostrum sed ipsum debitis inventore sint repellendus illo accusantium quibusdam?
        Sequi quas repellendus velit harum, omnis ad quidem placeat fuga rerum, vel assumenda reiciendis provident praesentium tempore accusamus dolorum inventore facere magnam! Deserunt laudantium ullam beatae eos fugit culpa at!
        Illum officiis molestiae alias est quos incidunt provident perferendis possimus aliquid sit voluptas, explicabo doloremque laborum facilis dolore animi corporis saepe, quis quam soluta cumque deleniti consectetur totam nobis. Deserunt.
    </p>
    <button>Click ME</button>
</body>
</html>